#accessories-2 {
  background-color: #FFF;
  border-radius: 5px;
  margin-bottom: 20px;

  .list-accessories {
    width: 1296px;
    margin: 0px auto;

    .item-accessories {
      height: 129px;
      padding: 0px;

      .cat-item {
        > a {
          text-decoration: none;
          font-family: sans-serif;
          color: #646970;

          > i {
            font-size: 40px;
            padding: 15px;
          }
        }
      }
    }
  }
}
