* {
  margin: 0px;
  padding: 0px;
}

.fs-simcs {
  margin-top: 11px;
  height: 40px;
  text-align: center;
  color: #cd1817;
  margin: auto;
}
.fs-simbtn {
  margin: 3px;
  background-color: #007aff;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  padding: 5px;
  font-size: 12px;
}

.f-hdtop {
  height: 56px;
  background-color: #cd1817;
}

.fs-menu {
  height: 36px;
  background-color: #000;
}

.fpt-sale-coutdown {
  height: 200px;
  background-color: aqua;
}

.section-banner {
  height: 360px;
  background-color: aquamarine;
}

.section-box {
  height: 320px;
  background-color: #008080;
}

.banner-sale {
  height: 100px;
  background-color: #008b8b;
}

.gold-time {
  height: 500px;
}

.flash-sale .flash-sale-title {
  width: 520px;
  height: 56px;
  background-color: #20b2aa;
  margin: 0 auto;
}
.flash-sale-inner {
  height: 500px;
  background-color: #8fbc8f;
}

.banner-cs {
  height: 200px;
  background-color: #66cdaa;
}

.fs-bnord {
  height: 700px;
  background-color: #556b2f;
}

.fs-bxh {
  height: 130px;
  background-color: #6b8e23;
}

.fs-footer {
  height: 300px;
  background-color: #000;
}