#header {
  .hd-top {
    background-color: #cd1817;
    height: 56px;
    display: flex;
    position: relative;

    .hd-wrap {
      display: flex;
      width: 1200px;
      margin: 0 auto;

      a .hd-logo {
        align-items: center;
        height: 50px;
        padding-top: 5px;
        padding-right: 10px;
      }

      .search-flex {
        display: flex;
        height: 46px;
        padding-top: 10px;
        width: 500px;

        button.search-icon {
          width: 58px;
          background-color: black;
          border-radius: 5px;
          
          .fa-magnifying-glass {
            color: aquamarine;
          }
        }
      }

      .hd-top-mn {
        display: flex;

        > li {
          list-style: none;
          padding: 6px 0px 2px 2px;
          text-align: center;
          position: relative;
          padding-left: 30px;
            
          > a {
            text-decoration: none;
            color: white;

            > span {
              display: block;
            }
          }

          .hd-top-mn-item { display: none; }
        }

        > li:hover { display: block; }
      }
    }
  }
}
