#footer {
  .fpt-footer {
    font-size: 14px;
    font-family: sans-serif;
    margin: 25px 0px 15px;

    .fpt-ft-col {
      .fpt-ftul {
        list-style: none;
        padding: 0px;

        li {
          a {
            font-size: 14px;
            text-decoration: none;
            color: #3399d2;
            padding-bottom: 13px;
          }

          a:hover {
            text-decoration: underline;
            color: #4a4a4a;
          }
        }
      }

      .fpt-ftul-2 {
        list-style: none;
        display: flex;
        padding: 0px;
        justify-content: space-between;

        li {
          a {
            color: #d0021b;
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
          }

          .fpt-ft-tit {
            font-weight: 700;
            color: #4a4a4a;
            margin: 0px;
          }
        }
      }

      .support {
        .payment-support {
          img {
            width: 44px;
            height: 27px;
            font-size: 13px;
            border-radius: 2px;
            margin: 2px 0px;
          }

          .fpt-ft-tit {
            font-weight: 700;
            color: #4a4a4a;
            margin: 0px;
          }
        }

        .link_company {
          img {
            width: 70px;
            height: 30px;
            border-radius: 2px;
            margin-top: 5px;
          }

          .fpt-ft-tit {
            font-weight: 700;
            color: #4a4a4a;
            margin: 0px;
          }

          .img-coporation {
            width: 102px;
          }
        }
      }
    }
  }
}
