.content-sale {
  padding-top: 15px;
  background-color: #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 5px;

  .prd-sale {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 18px;
  }

  .product-sale {
    width: 300px;
    margin: 0px auto;
    padding-top: 12px;
    border-radius: 5px;
  }
}

