* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#header .hd-top {
  background-color: #cd1817;
}
#header .hd-top .hd-wrap {
  margin: 0 auto;
  float: left;
  justify-content: center;
}
#header .hd-menu {
  height: 36px;
  background-color: #000;
}

.root {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.fpt-sale-coutdown img {
  width: 1200px;
}

.section-banner {
  padding-bottom: 30px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.section-banner .box-right {
  padding-left: 0px;
}
.section-banner .box-right .box-right-bn .box-right-bn-sl {
  margin-bottom: 5px;
}

.section-box {
  margin-bottom: 30px;
  height: 320px;
}
.section-box div .list-product {
  height: 159px;
  padding: 0px;
}
.section-box div .list-product .ct-item-a {
  height: 100%;
  text-decoration: none;
}
.section-box div .list-product .ct-item-a .cate-item {
  padding: 15px 15px;
  text-align: center;
}
.section-box div .list-product .ct-item-a .cate-item .picture {
  position: relative;
  width: 95px;
  height: 95px;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: inline-block;
  padding-top: 20px;
}
.section-box div .list-product .ct-item-a .cate-item .picture img {
  max-width: 60px;
  max-height: 60px;
}
.section-box div .list-product .ct-item-a .cate-item .cate-item-name {
  padding-top: 10px;
  color: #000;
}
.section-box .list-product:hover {
  border-color: #f4f4f4;
}

.section-box {
  padding-top: 15px;
}
.section-box .prd-sale {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 18px;
}
.section-box .product-sale {
  height: 440px;
  padding-top: 12px;
}
.section-box .product-sale div .cdt-product-img {
  width: 100%;
}

#banner-html .category-container .bn-sale {
  height: 700px;
}
#banner-html .category-container .bn-sale .bn-head {
  height: 160px;
  margin-bottom: 10px;
}
#banner-html .category-container .bn-sale .bn-head .head-tit {
  padding: 16px 212px;
}
#banner-html .category-container .bn-sale .bn-list {
  height: 340px;
  margin-bottom: 20px;
}
#banner-html .category-container .bn-sale .bn-discount {
  justify-content: center;
  margin-bottom: 20px;
}
#banner-html .category-container .bn-sale .bn-discount .discount-left {
  height: 54px;
  width: 500px;
}
#banner-html .category-container .bn-sale .bn-discount .discount-right {
  height: 54px;
  width: 500px;
}
#banner-html .category-container .bn-sale .bn-bottom {
  height: 30px;
  width: 570px;
  margin: 0 auto;
}

.product-list {
  margin-bottom: 30px;
}
.product-list .cat-prd-oustanding {
  height: 24px;
  margin: 20px;
}
.product-list .product-item {
  height: 500px;
}

.accessories-list .cat-prd-oustanding {
  height: 24px;
  margin-bottom: 15px;
}
.accessories-list .accessories-item {
  height: 140px;
}

.fs-bxh {
  margin-bottom: 15px;
}

.banner-cs {
  width: 100%;
  margin-bottom: 30px;
}

.fs-bxh {
  height: 130px;
  background-color: #6b8e23;
}

.fs-footer {
  height: 300px;
  background-color: #000;
}/*# sourceMappingURL=index.css.map */