#banner-html {
  .category-container {
    .bn-sale {
      text-align: center;
      align-items: center;
      border-radius: 5px;

      .bn-head {
        height: 160px;
        margin-bottom: 10px;

        .head-tit {
          padding: 16px 212px;
        }
      }

      .bn-list {
        height: 340px;
        margin-bottom: 20px;
        padding: 0 40px;

        .bn-item {
          justify-content: center;
        }
      }

      .bn-bottom {
        height: 30px;
        width: 570px;
        margin: 20px auto;
        padding-bottom: 50px;
      }
    }
  }
}
